
<!-- This is the Home banner -->
<div id="particles-js"></div>
    <div class="home-banner zoomInLeft" style="background-image: /*linear-gradient(-386deg, rgba(68, 69, 71, 0) 0%, rgba(250, 250, 250, 0.9) 50%),*/ url('<%= image_path 'paint-tube.png' %>'); background-repeat:   no-repeat; background-position: center center;">
    <div class="container hide-overflow">
      <div class="row">
        <div class="banner">
          <div class="banner-content-top">
            <div class="col-xs-12 col-md-6">
              <div class="banner-text fadeIn">
                <h1 style="letter-spacing: 3px;">Creating <span class="header-underline-red">Sustainable change</span></h1>
                <p style="margin-top: 53px;">Working with boards, teams and individuals to unlock their potential and to help them perform at their best.</p>
                <h3 id="beneath-surface-text">…by going <span class="">beneath</span> the surface</h3>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <!-- <div id="main-banner-image">
                <%#= image_tag 'hyacinth-export.png', class:"hyacinth-banner"  %>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <h2 style="text-align: center; color: white; margin-top: 58px;">…by going <span class="text-bold">beneath</span> the surface</h2> -->

  <!-- This is the 3 tree beneath the surface section -->

<div id="philosophy"></div>
<div class="container">
  <div class="center" style="text-align: center;">
    <div class="banner">
      <div class="banner-content">
        <div class="row" id="three-info-background" style="background-image: url('<%= image_path 'grey-line.png' %>');">
          <div class="col-xs-12 col-md-4">
            <%= image_tag 'eye-red.svg', class:"icon-sizing" %>
            <p style="text-align: center;">
              Recognising that the right
              answer is not always the
              obvious or easy answer
            </p>
          </div>
          <div class="col-xs-12 col-md-4">
            <%= image_tag 'ear-red.svg', class:"icon-sizing" %>
            <p style="text-align: center;">
              Listening as much to what is
              <span class="yellow-underline text-bold">not said</span>  as to what <span class="blue-underline text-bold">is said</span>
            </p>
          </div>
          <div class="col-xs-12 col-md-4">
            <%= image_tag 'experience-black.svg', class:"icon-sizing" %>
            <p style="text-align: center;">
              Drawing on a wealth of
              experience and expertise
              in the business world
            </p>
          </div>
        </div>
        <div id="what-we-do"></div>
      </div>
    </div>
  </div>
  <hr>

  <!-- This is the Board Coaching section -->
  <div class="section-block feature-2">
		<div class="row flex">
			<div class="column width-6 push-5 offset-1">
				<div class="feature-image mb-mobile-50">
					<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
						<%= image_tag "board-dots-2.svg", class:"icon-larger-sizing"  %>
					</div>
				</div>
			</div>
			<div class="column width-5 pull-7">
				<div class="feature-content horizon pd-40" data-parallax="direction:vertical;speed:0.25;rotate:none;opacity:fade;">
					<div class="feature-content-inner horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;" data-threshold="0.6">
						<h2 class="mb-30"><span id="long-feature-header">Board Coaching</h2>
            <hr>
						<p class="lead color-grey-light"> Working with the Board Effectiveness model developed by Liz Cox at Henley Business School.</p>
						<p class="lead color-grey-light">Helping to make boards more effective in their core decision making role.</p>
            <p class="lead color-grey-light">Creating a more constructive and positive board environment.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--
  <div class="banner">
    <div class="banner-content">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="table-info">
            <h2 id="board-coaching"> Board Coaching</h2>
            <div class="row">
              <div class="col-xs-12">
                <p class="text-center">
                  Working with the Board Effectiveness model
                  developed by Liz Cox at Henley Business School
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <p class="text-center">
                  Helping to make boards more effective in their
                  core decision making role
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <p class="text-center">
                  Creating a more constructive and positive board environment
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <%= image_tag 'board-coaching.svg', class:"icon-larger-sizing" %>
        </div>

      </div>
    </div>
  </div> -->

  <!-- This is the individual coaching section -->
  <div class="section-block custom-bkg-grey feature-2-right">
    <div class="row flex">
      <div class="column width-6 push-1">
        <div class="feature-image mb-mobile-50">
          <div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
            <%= image_tag "individual-dot.svg", class:"icon-larger-sizing"  %>
          </div>
        </div>
      </div>
      <div class="column width-6">
        <div class="feature-content horizon pd-40" data-parallax="direction:vertical;speed:0.25;rotate:none;opacity:fade;">
          <div class="feature-content-inner horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;" data-threshold="0.6">
            <h2 class="mb-30"><span id="long-feature-header">Individual Coaching</h2>
            <hr>
            <p class="lead color-grey-light">Meeting leadership challenges.</p>
            <p class="lead color-grey-light">Succesful career change and transition.</p>
            <p class="lead color-grey-light">Improved management and business development skills.</p>
            <p class="lead color-grey-light">Increased personal impact and effectiveness.</p>
            <p class="lead color-grey-light">Building confidence, self esteem and resilience</p>
            <p class="lead color-grey-light">Introducing a better work/life balance</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- This is the Team Coaching section -->

  <div class="section-block feature-2">
    <div class="row flex">
      <div class="column width-6 push-5 offset-1">
        <div class="feature-image mb-mobile-50">
          <div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
            <%= image_tag "team-dots.svg", class:"icon-larger-sizing"  %>
          </div>
        </div>
      </div>
      <div class="column width-5 pull-7">
        <div class="feature-content horizon pd-40" data-parallax="direction:vertical;speed:0.25;rotate:none;opacity:fade;">
          <div class="feature-content-inner horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;" data-threshold="0.6">
            <h2 class="mb-30"><span id="long-feature-header">Team Coaching</h2>
            <hr>
            <p class="lead color-grey-light">Clear strategic goals.</p>
            <p class="lead color-grey-light">Enhanced dynamics.</p>
            <p class="lead color-grey-light">Better communication.</p>
            <p class="lead color-grey-light">More constructive and supportive working culture.</p>
            <p class="lead color-grey-light">Greater resilience to internal and external challenge</p>
            <p class="lead color-grey-light">Introducing a better work/life balance</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- This is the About section -->

  <!-- Hero Section 5 -->
		<div class="section-block hero-5 hero-5-3 show-media-column-on-mobile color-charcoal custom-bkg-grey">
			<div class="media-column width-6" style="background-image: url(<%= image_path 'headshot-liz.png', id:"liz-headshot" %>);"></div>
			<div class="row">
				<div class="column width-5 offset-7">
					<div class="hero-content split-hero-content">
						<div class="hero-content-inner horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.5">
							<p class="text-uppercase mb-10">Profile</p>
							<h2>Liz Cox (BA, MSc)</h2>
							<p class="mb-10">Liz acts as a coach and advisor to boards, senior executives, and leaders within a number of organisations and industries including corporate, finance, marketing, creative media, property and publishing.  An alumni of Henley Business School, Liz specialises in leadership development, strategic planning, organisational structure and staffing retention practices, drawing on her extensive entrepreneurial and corporate business experience. <br/><br/> Her career began in advertising at Saatchi & Saatchi before moving into market research. She co-founded Directions and built the company into one of the premier boutique research firms in the UK. After selling her ownership in Directions, she joined The Big Picture – a growing design research agency with a blue-chip, international client base – and helped guide the firm’s strategic and organisational development to become a global leader in its field. <br/><br/> Liz holds a Masters Degree in Coaching and Behavioural Change (Distinction) and a Certificate in Coaching (Distinction) from the Henley Business School.  She also holds a Bachelor’s Degree in French and Italian from the University of London. Liz subscribes to the EMCC (European Mentoring & Coaching Council) code of ethics.</p>
							<p class="opacity-05 weight-bold">BA - MSc</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- Hero Section 5 End -->

  <!-- Testimonials Section -->
		<div class="section-block hero-5 hero-5-2 right  bkg-white box-shadow-custom">
			<div class="row">
				<div class="column width-12">
					<div class="hero-content split-hero-content testimonials-5-about-1">
						<div class="hero-content-inner">
							<div id="testimonial-slider-1" class="testimonial-slider tm-slider-container" data-auto-advance data-auto-advance-interval="5000" data-progress-bar="false" data-nav-keyboard="false" data-pause-on-hover="true">
								<ul class="tms-slides">
									<li class="tms-slide" data-image>
										<div class="tms-content-scalable">
											<div class="row">
												<div class="column width-12">
													<blockquote class="center large">
														<p>The Board of Trustees at Positively UK has worked with Liz Cox over the past 18 months. Liz has led two day-long workshops designed to maximise the direction, connection and cohesiveness of our Board. Her focus is always on ensuring maximum interaction between the Trustees; that everyone is heard and has the space to shape the future of the organisation. Group work is a strong feature of her approach. The result is a connected Board with a clear, sharpened vision, a coordinated strategy and a team fully aligned behind it and ready to deliver.
															<cite>Chair, Board of Trustees.</cite>
														</p>
													</blockquote>
												</div>
											</div>
										</div>
									</li>
									<li class="tms-slide" data-image>
										<div class="tms-content-scalable">
											<div class="row">
												<div class="column width-12">
													<blockquote class="center large">
														<p>I’ve worked closely with Liz for over 15 years and during that time she has never  failed to provide excellent advice. Her guidance is always considered and thought-through; she thinks strategically, able to recognise the bigger picture which is complemented by her awareness of any sensitivities involved so that she recommends the most diplomatic course of action. This combination of skills has contributed to a long and successful relationship and has resulted in her becoming a most trusted confidante.
															<cite>Managing Director, Marketing Services</cite>
														</p>
													</blockquote>
												</div>
											</div>
										</div>
									</li>
									<li class="tms-slide" data-image>
										<div class="tms-content-scalable">
											<div class="row">
												<div class="column width-12">
													<blockquote class="center large">
														<p>Liz combines insight with incisiveness, which she supports with exceptional listening ability and obvious respect. She epitomises professionalism.
															<cite>Partner, Law Firm.</cite>
														</p>
													</blockquote>
												</div>
											</div>
										</div>
									</li>
									<li class="tms-slide" data-image>
										<div class="tms-content-scalable">
											<div class="row">
												<div class="column width-12">
													<blockquote class="center large">
														<p>Liz has a relaxed and engaging style which rubbed off on me. She knew when to be lighthearted and when to be more serious. She has seriously high EQ.
															<cite>Director, Private Equity Fund.</cite>
														</p>
													</blockquote>
												</div>
											</div>
										</div>
									</li>
                  <li class="tms-slide" data-image>
										<div class="tms-content-scalable">
											<div class="row">
												<div class="column width-12">
													<blockquote class="center large">
														<p>Liz showed me that positive change is possible. This has given me dramatically more confidence.
															<cite>Director, Investment Bank.</cite>
														</p>
													</blockquote>
												</div>
											</div>
										</div>
									</li>
                  <li class="tms-slide" data-image>
										<div class="tms-content-scalable">
											<div class="row">
												<div class="column width-12">
													<blockquote class="center large">
														<p>I value and trust Liz more than anyone else I have worked with in my business career.
															<cite>Managing Director, Marketing Services.</cite>
														</p>
													</blockquote>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonials End -->

      <!-- <div class="col-xs-12 col-md-6">
        <p id="featured-testimonial">
          “The Board of Trustees at Positively UK has worked with Liz Cox over the past 18 months. Liz has led two day-long workshops designed to maximise the direction, connection and cohesiveness of our Board. Her focus is always on ensuring maximum interaction between the Trustees; that everyone is heard and has the space to shape the future of the organisation. Group work is a strong feature of her approach. The result is a connected Board with a clear, sharpened vision, a coordinated strategy and a team fully aligned behind it and ready to deliver.” - <span class="testimonee">Chair, Board of Trustees</span>
        </p> -->
        <!-- This is the testimonials modal -->
        <!-- Button trigger modal -->
        <!-- <button type="button" class="button btn-block" data-toggle="modal" data-target="#myModal">
          Read more
        </button> -->

      <!-- Modal -->
      <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Testimonials</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 ">
                  <p class="featured-testimonial">
                   ‘I’ve worked closely with Liz for over 15 years and during that time she has never  failed to provide excellent advice. Her guidance is always considered and thought-through; she thinks strategically, able to recognise the bigger picture which is complemented by her awareness of any sensitivities involved so that she recommends the most diplomatic course of action. This combination of skills has contributed to a long and successful relationship and has resulted in her becoming a most trusted confidante.’ - <span class="testimonee">Managing Director, Marketing Services</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p class="featured-testimonial">
                   "Liz combines insight with incisiveness, which she supports with exceptional listening ability and obvious respect. She epitomises professionalism." - <span class="testimonee">Partner, Law Firm</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p class="featured-testimonial">
                    ‘"Liz has a relaxed and engaging style which rubbed off on me. She knew when to be lighthearted and when to be more serious. She has seriously high EQ." - <span class="testimonee">Director, Private Equity Fund</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p class="featured-testimonial">
                   “Liz showed me that positive change is possible. This has given me dramatically more confidence." - <span class="testimonee">Director, Investment Bank</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p class="featured-testimonial">
                    "I value and trust Liz more than anyone else I have worked with in my business career." - <span class="testimonee">Managing Director, Marketing Services</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="button btn-block" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> -->
      <!-- end of modal -->
          <!-- end of the About section above -->
  </div>
          <!-- Beginning of the Articles section -->


  <div class="banner">
    <div class="banner-content push-down">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="table-info">
          <% if Post.all != [] %>
            <%= link_to post_path(Post.last.id), class:"navbar-wagon-link" do %>
            <div style="background-image: linear-gradient(-386deg, rgba(68, 69, 71, 0) 0%, rgba(250, 250, 250, 0.6) 50%),url('<%= cl_image_path Post.last.photo, :secure => true, width:730, crop: :fill %>'); background-repeat:   no-repeat; background-position: center center;" class="featured-article" id="featured-positioning">
              <h4><%= Post.last.title  %></h4>
              <p>
                <%= Post.last.preview %>
              </p>
            </div>
            <% end %>
           <% end %>
          </div>
        </div>
        <div class="col-md-6 hidden-sm">
          <%= image_tag 'article.svg', id:"featured-positioning", class:"width-auto" %>
        </div>
      </div>

      </div>
    </div>
          <!-- End of Featured Article section -->

        <!-- Beginnining of article grid -->
        <div class="banner">
          <div class="banner-content push-down">

            <div class="row">
              <% posts = Post.all[0...-1].last(2)  %>
              <% posts.each do |post|  %>
                <div class="col-xs-12 col-md-6">
                  <div class="table-info">
                    <%= link_to post_path(post), class:"navbar-wagon-link" do %>
                    <div style="background-image: linear-gradient(-386deg, rgba(68, 69, 71, 0) 0%, rgba(250, 250, 250, 0.6) 50%),url('<%= cl_image_path post.photo, :secure => true, width:730, crop: :fill %>'); background-repeat:   no-repeat; background-position: center center;" class="featured-article">
                      <h4><%= post.title  %></h4>
                      <p>
                        <%= post.preview %>
                      </p>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <br>
            <div class="row">
              <% posts = Post.all[0...-3].last(2)  %>
              <% posts.each do |post|  %>
                <div class="col-xs-12 col-md-6">
                  <div class="table-info">
                    <%= link_to post_path(post), class:"navbar-wagon-link" do %>
                    <div style="background-image: linear-gradient(-386deg, rgba(68, 69, 71, 0) 0%, rgba(250, 250, 250, 0.6) 50%),url('<%= cl_image_path post.photo, :secure => true, width:730, crop: :fill %>'); background-repeat:   no-repeat; background-position: center center;" class="featured-article">
                      <h4><%= post.title  %></h4>
                      <p>
                        <%= post.preview %>
                      </p>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <br>
        <%= link_to "All Articles", posts_path, class:"button btn-block text-center" %>
        <!-- end of Articles grid -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Beginning of the Contact us section -->
        <div id="contact-us"</div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h2 style="letter-spacing: 4px; color: black;">Contact us</h2>
            <br>
            <address><h4 style="letter-spacing: 3px;"><a href="mailto:liz@lizcoxcoaching.com"> E: liz@lizcoxcoaching.com</a></h4></address>
            <br>
            <h4 style="letter-spacing: 3px;"> M: +44 7850 647596 </h4>
          </div>
          <!-- contact form below -->
          <br>

          <%= simple_form_for @message do |f| %>
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="input-field">
                   <%= f.input :first_name, placeholder: 'first name' , label: false, class:"input-field" %>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="input-field">
                  <%= f.input :last_name, placeholder: 'last name', label: false %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="input-field">
                  <%= f.input :email, placeholder: 'email address', label: false %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="input-field">
                  <%= f.input :subject, placeholder: 'subject', label: false %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="input-field">
                  <%= f.input :message, as: :text, placeholder: 'message', label: false %>
                 </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <%= f.button :submit, 'Send', class:"button btn-block" %>
              </div>
            </div>
          </div>
           <% end %>
          <!-- end of contact form -->
        </div>
        <!-- end of contact us section -->
  <!-- Closing div for container -->
</div>

<script>
  window.addEventListener("hashchange", function () {
  window.scrollTo(window.scrollX, window.scrollY - 100);
  });
</script>
