<div class="blog-index-container">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <h1 style="letter-spacing: 10px;" class="text-center">Articles</h1>
      <hr style="border: 1px solid #5D5EB7;">
      <% @posts.reverse.each do |post| %>
      <div class="col-xs-12 text-center">
        <div class="text-center">
          <h2><%= post.title %></h2>
          <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
        </div>
        <div>
          <% postBody = post.body.truncate(358) %>
          <%= raw postBody %>
        </div>
        <br>
        <div class="text-center">
          <%= link_to "Read more", post_path(post), class:"button" %>
        </div>
        <% if user_signed_in? %>
        <br>
        <br>
          <%= link_to "Show", post_path(post), class: "btn btn-primary" %>
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-default" %>
          <%= link_to "Delete", post_path(post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
        <% end %>
        <hr style="border: 1px solid #2A2D31;"/>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" style="margin-top: 222px;">
        <%= link_to "Admin sign-in", new_user_session_path, id:"admin-sign-in" %>
      </div>
      <div class="col-xs-12 col-md-4 text-center" style="margin-top: 117px;">
        <%= image_tag 'richmond-2.png', id:"agency-image" %>
        <p class="copyright-words">  <span class="margin-left-footer">Copyright Liz Cox Consultancy. All rights reserved. <%= Date.today.year %> </span></p>
      </div>
      <div class="col-md-4" style="margin-top: 113px;
    color: rgba(255, 255, 255, 0.4);
    text-align: justify;">
        <div class="row">
          <div class="col-xs-12 col-md-10">
            <p>
              We are a member of the European Mentoring & Coaching Council (EMCC) and subscribe to the EMCC code of ethics (see www.emccouncil.org). The EMCC exists to promote good practice and the expectation of good practice in mentoring and coaching across Europe.
            </p>
          </div>
          <div class="col-xs-12 col-md-2">
            <%= image_tag 'EMCC.jpg', id:"emcc" %>
          </div>
        </div>
      </div>
     </div>
   </div>

</div>

