<!DOCTYPE html>
<html>
  <head>
    <title>Liz Cox Coaching</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>

    <!-- Footer -->
  <footer class="footer margin-top-20">
    <div class="footer-top">
      <div class="row flex">
        <div class="column width-3">
          <div class="widget">
            <h4 class="widget-title">Liz <span class="weight-light">Cox Coaching</span></h4>
            <%= image_tag 'richmond-2.png', id:"agency-image" %>
          </div>
        </div>
        <div class="column width-3">
          <div class="widget">
            <h4 class="widget-title">EMCC</h4>
            <p>We subscribe to the EMCC code of ethics (see www.emccouncil.org). The EMCC exists to promote good practice and the expectation of good practice in mentoring and coaching across Europe.</p>
          </div>
        </div>
        <div class="column width-3 push-3">
          <div class="widget">
            <h4 class="widget-title">Contact Us</h4>
            <p>
              Tel: + 44 7850 647596<br>
              Email: <a href="mailto:#">liz@lizcoxcoaching.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <div class="column width-12">
          <p class="copyright">
            &copy; Liz Cox Consultancy. All Rights Reserved. Join us on <br>
            <%= link_to "Admin sign-in", new_user_session_path %>
          </p>
          <!-- <p>
            <%= link_to "Admin sign-in", new_user_session_path %>
          </p> -->
        </div>
      </div>
    </div>
  </footer>
    <!-- footer -->
    <!-- <div class="footer">
      <%= image_tag 'richmond-2.png', id:"agency-image" %>
      <p class="copyright-words">  <span class="margin-left-footer">Copyright Liz Cox Consultancy. All rights reserved. <%= Date.today.year %> </span></p>
      <p>
        We subscribe to the EMCC code of ethics (see www.emccouncil.org). The EMCC exists to promote good practice and the expectation of good practice in mentoring and coaching across Europe.
      </p>
      <%= link_to "Admin sign-in", new_user_session_path, id:"admin-sign-in" %>
    </div> -->
    <%= javascript_include_tag 'application' %>
  </body>
</html>
